.login {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  form {
    width: 326px;
  }
  p {
    margin-bottom: 0.5rem;
  }
  a {
    color: blue;
  }
  .login-input {
    margin-top: 0.5rem;
    background-color: gray;
    color: var(--secondary-color);
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  .login-input:hover {
    background-color: var(--primary-color);
  }
}
