.payment-section {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  p {
    padding-left: 1rem;
  }
}

@media only screen and (min-width: 792px) {
  .payment-section {
    align-items: center;
  }
}
