.payment-form {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  .button-cancel-submit {
    display: flex;
    justify-content: space-between;
  }
  .button-cancel-submit > button {
    margin-top: 0.5rem;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    color: white;
  }
  .button-cancel-submit > button:first-child {
    padding: 1rem 2rem;
    background-color: grey;
  }
  .button-cancel-submit > button:last-child {
    padding: 1rem 4rem;
    background-color: black;
  }
}
